
<navbar></navbar>
    <div filter-color="orange" style="margin-bottom: 20px;">
      <div class="col-lg-6 container">
        <div class="content" style="margin-top: 80px;">
          <form class="form form-control"  (ngSubmit)="onSubmit()" >
            <h2 class="h2-seo">State what you need done</h2>
            <h5 class="h5-seo" >Make a project and we will find the best match for you. Pay the freelancer when you are 100% satisfied.</h5>


          <h6>Project Name</h6>
          <div class="input-group form-group-no-border input-lg">
            <input type="text" class="form-control" placeholder="MyProject" [(ngModel)]="form.projectName" name="projectName" #name="ngModel" />
          </div>

          <br>

          <h6>Project Description</h6>
          <div class="input-group form-group-no-border input-lg">
              <input class="form-control" type="text" name="projectD" id="proD" [(ngModel)]="form.projectD" #projD="ngModel" />


          </div>

          <h6>Skills Required</h6>
          <div class="input-group form-group-no-border input-lg">
            <input class="form-control" type="text" placeholder="Skills required" name="skills" [(ngModel)]="form.skills" rows="2" >
          </div>


            <h4>Payment Method</h4>
            <div class="radio">
              <ul class="list-unstyled">
                <li>
                  <input type="radio" name="radio1" id="radio1" value="option1"  >
                  <label for="radio1">Fixed Price Project</label>
                </li>
                <li>
                <input type="radio" name="radio1" id="radio2" value="option2" >
                <label for="radio2">Hourly Project</label>
                </li>
              </ul>
            </div>

            <h4>Estimated Budget </h4>

              <div class="budget">
                      <label for="power">Choose Budget</label>
                      <select class="form-control" id="budget"
                              required
                              [(ngModel)]="form.budget" name="budget"
                              #power="ngModel">

                      <option  *ngFor="let b of budget[0]" [value]="b">{{b}}</option>
                      <option *ngFor="let b of budget[1]" [value]="b">{{b}}</option>
                      </select>
              </div>
            <hr style="background-color: black;">

            <div style="margin-top: 30px;">
              <button class="btn btn-primary btn-lg">Submit Project</button>
            </div>

          </form>

        </div>
      </div>
    </div>

    <footerbar></footerbar>
