
div.left {

height:100%;
margin-left: 2rem;
width: 60%;
float:left;

}

div.right {
  margin: 6rem 2rem;
  float: right;
  width: 32%;
}

input.form-control {
  margin-top: 5%;
  margin-left: 0;
  margin-right: auto;
  width: 40%;
  background-color: white;
  font-size: 1.5rem;
}


div.tabnewsfeed {
  box-shadow: 1px 1px 2px 2px;
  margin-top: 3rem;
  background-color: white;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}
