<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/" rel="tooltip" title="Designed & Coded by TiKantsa" data-placement="bottom" >
                Im.P
            </a>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/newsfeed">
                        <i class="now-ui-icons design_bullet-list-67"></i>
                        <p>Find Projects</p>
                    </a>
                </li>
                <span *ngIf="!isLoggedIn">
                <li class="nav-item" >
                    <a class="nav-link" href="/login">
                        <i class="now-ui-icons users_circle-08"></i>
                        <p>Login</p>
                    </a>
                </li>
              </span>
              <span *ngIf="isLoggedIn">
              <li class="nav-item" >
                  <a class="nav-link" (ngClick)="logout()">
                      <i class="now-ui-icons users_circle-08"></i>
                      <p>Logout</p>
                  </a>
              </li>
            </span>
                <li class="nav-item">
                    <a class="nav-link" href="/sign">
                        <i class="now-ui-icons users_single-02"></i>
                        <p>Sign Up</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
