<html>
<navbar></navbar>

<body>
  <div class="wrapper">
      <div class="page-header" filter-color="orange">
        <div class="container">
          <div class="content-center brand">
            <h1 class="h1-seo">Imba_project</h1>
            <h3>State your Services!</h3>

                  <a routerLink = "/login"><button class="btn btn-primary btn-lg">Provide</button></a>

                  <a routerLink = "/Recieve"><button class="btn btn-neutral btn-lg">Recieve</button></a>

          </div>
              <router-outlet></router-outlet>
        </div>
        <footerbar></footerbar>
      </div>
    </div>



</body>
<!--   Core JS Files   -->
<script src="./assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="./assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="./assets/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>


</html>
