
<navbar></navbar>
<div class="section section-signup" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height:700px; ">
    <div class="container">
        <div class="row">
            <div class="card card-signup" data-background-color="orange">
              <alerts></alerts>
                <form class="form" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                    <div class="header text-center">
                        <h4 class="title title-up">Sign Up</h4>

                    </div>
                    <div class="card-body">
                      <!-- firstName -->
                        <div class="input-group form-group-no-border" [ngClass]="{ 'has-error': f.submitted && !username.valid }" >
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                            <input [(ngModel)]="user.firstName" type="text" name="firstName" class="form-control" placeholder="First Name..." #firstName="ngModel" required />
                        </div>
                        <!-- lastName -->
                        <div class="input-group form-group-no-border" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                            <input [(ngModel)]="user.lastName" type="text" name="lastName" class="form-control" placeholder="Last Name..." #lastName="ngModel" required />
                        </div>
                        <!-- email -->
                        <div class="input-group form-group-no-border" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
                            <input [(ngModel)]="user.email" type="text" name="username" class="form-control" placeholder="Email..." #email="ngModel" required />
                        </div>
                        <!-- username -->
                        <div class="input-group form-group-no-border" [ngClass]="{ 'has-error': f.submitted && !username.valid }" >
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                            <input [(ngModel)]="user.username" type="text" name="username" class="form-control" placeholder="Username..." #username="ngModel" required />
                        </div>
                        <!-- password -->
                        <div class="input-group form-group-no-border" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <span class="input-group-addon">
                                <i class="now-ui-icons text_caps-small"></i>
                            </span>
                            <input [(ngModel)]="user.password" type="password" name="password" placeholder="Password..." class="form-control" #password="ngModel" required />
                        </div>
                        <div class="checkbox">
                          <input id="checkboxSignup" type="checkbox">
                          <label for="checkboxSignup">
                            Recieve news from our site?
                          </label>
                        </div>
                    </div>
                    {{user.firstName + user.lastName + user.email + user.password + user.username}}
                    <div class="footer text-center">
                        <button [disabled]="loading" type="submit" class="btn btn-neutral btn-round btn-lg">Register</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                    </div>
                </form>
            </div>
        </div>
        <div class="col text-center">
            <a [routerLink]="['/login']" class="btn btn-simple btn-round btn-white btn-lg">Or Login</a>
        </div>
    </div>

</div>
<footerbar></footerbar>
